<!DOCTYPE html>
<html>
<head>
    <title>About carl test</title>
</head>
<body>
    <h1>About me test</h1>
    <nav>
        <a href="/">Home</a> | <a href="/about">About</a>
    </nav>
</body>
</html>
